html,
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    background: #f6f4ec;
    background-image: url(/images/noise.png);
    background-image: url(/images/noise.png), -moz-linear-gradient(#d7d3c8, #f6f4ec 400px);
    background-image: url(/images/noise.png), -webkit-linear-gradient(#d7d3c8, #f6f4ec 400px);
    background-image: url(/images/noise.png), linear-gradient(#d7d3c8, #f6f4ec 400px);
    background-repeat: repeat, repeat-x;
    color: #404040;
    height: 100%;
    padding-bottom: 10px;
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 60px;
  padding: 20px 15px;
  background: #fff;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #bbb;
  width: auto;
  margin-bottom: 1em;
}

.content {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px 20px 60px;
}

.header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(rgb(229, 227, 220), rgb(236, 235, 229)) repeat scroll 0% 0% transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.logo {
  padding: 15px 20px;
}

.logo a {
    color: #0095dd;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.info {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 8px;
}
